.container {
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 150px;
  }

  .container h2 {
    text-align: center;
    font-size: 44px;
  }
  
  .container img {
    display: block;
    margin: 0 auto;
    padding: 10px;
  }

  .bottom-navbar {
    display: none;
  }